ci:
  autoupdate_commit_msg: "chore: [pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: "monthly"

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-json
    - id: check-yaml
    - id: check-toml
    - id: check-xml
    - id: debug-statements
    # - id: end-of-file-fixer # TODO: Fix make_md.py
    - id: mixed-line-ending
    - id: requirements-txt-fixer
    - id: trailing-whitespace

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    - id: pyupgrade
      args: ["--py37-plus"]

-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    - id: isort
